
// Colors
$primary-color = #ec008c
$grey = #eee
$transparent_black = rgba(0, 0, 0, 0.5)

// Fonts

$primary-font= HUGEAvantGardeBold
$font-secondary= Galaxie

// Constants

$max-width=1280px

$min-width-responsive= 768px